---
import Layout from "@layouts/Layout.astro";
import Avatar from "@components/avatar.astro";
import ProjectsListLight from "@components/projectsList/projectsListLight.astro";
import PostsListLight from "@components/postsList/postsListLight.astro";
import Link from "@components/contactLink.astro";
const classList = [
  "opacity-10",
  "animate-slideUp",
  "animate-fill-both",
  "font-sans",
  "font-medium",
  "mt-8",
];
---

<Layout title="vivek">
  <article class="prose">
    <Avatar />
    <section class:list={["animate-delay-150", classList]}>
      <p>
        hey there, tech souls! i'm vivek, decentralized software builder, part time writer, a proud member of
        <span class="font-serif italic decoration-none"></span>,
        <a
          class="highlight-text font-bold decoration-none inline-block"
          target="_blank"
          href="https://superteam.fun"
        >
          superteam vietnam</a
        >.
      </p>
    </section>
    <section class:list={["animate-delay-750", classList]}>
      <PostsListLight />
    </section>
    <section class:list={["animate-delay-900", classList]}>
      <p id="blockTitle">more about me</p>
      <p>
       yet another software engineer immersed in the Solana ecosystem, building decentralized infrastructure like wind network and previously shastraos, a web3-native linux os. with a background in linux kernel development and open-source contributions, i’m driven to create tech that empowers users through decentralization and privacy.
      </p>
      <p>
        off the keyboard, i’m an introvert exploring the world—diving into new cultures, geopolitics, and histories. formal meetings aren’t my vibe, but I love weaving my engineering journey with tales of travel and discovery, often sharing them through writing.
      </p>
      <p>
        i’m on a mission to build meaningful Web3 solutions and find peace in life’s big questions ❓. Whether it’s crypto, p2p tech, geopolitics 🌎, or the intricacies of geoeconomics, I’m always up for a deep chat. Join me if you’re curious, want to break free from procrastination, or share a passion for a decentralized future.
      </p>
    </section>
    <section class:list={["animate-delay-900", classList]}>
      <ProjectsListLight />
    </section>
    <section class:list={["animate-delay-950", classList]}>
      <Link />
    </section>
  </article>
</Layout>

<style is:global>
  article a {
    @apply linkBase;
  }
  #blockTitle {
    @apply md:text-base font-extrabold italic;
  }
  #blockTitle::before {
    content: ":: ";
  }
</style>
