<p id="blockTitle">Contact</p>
<a class="decoration-none" target="_blank" href="mailto:31vivekpal@gmail.com"
  >31vivekpal@gmail.com</a
>
<a class="decoration-none" target="_blank" href="https://t.me/vivekpal0x"
  >telegram</a
>
<a class="decoration-none" target="_blank" href="https://github.com/vivekpal1"
  >Github</a
>
<hr>
<a class="decoration-none" target="_blank" href=""
  >Something Soon...</a
>
<style>
  a {
    @apply linkBase max-w-max;
  }
</style>
